<h1 class="text-3xl font-bold text-center mb-6">Görevi Düzenle</h1>

<%= render "form", task: @task %>

<%# <div class="flex justify-center mt-4">
  <%= link_to "Geri", tasks_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<%# </div>  %>
